@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../font/HelveticaNeue-HeavyCond.woff") format("woff");
  src: url("../font/HelveticaNeue-HeavyCond.woff2") format("woff2");
  src: url("../font/HelveticaNeue-HeavyCond.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #000 !important;
}

:root {
  --tilium: 'Titillium Web', sans-serif;
  --helvetica: 'Helvetica Neue', sans-serif;
}

.f-1 {
  font-family: var(--helvetica);
}

.f-2 {
  font-family: var(--tilium);
}

.box-title {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 37px;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.relative {
  position: relative;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.el-middle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

a:hover {
  text-decoration: none !important;
}

.rotate-1 {
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: -15px;
  font-size: 12px;
}

.rotate-2 {
  -webkit-transform: rotate(90deg) translateY(-50%);
          transform: rotate(90deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
  right: -15px;
  font-size: 12px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
}

.rm-btn {
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  bottom: 4em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1.2em 3.2em;
  font-size: 1.2vw;
  text-decoration: none;
  font-family: var(--tilium);
}

.btn-w {
  border: 1px solid #fff;
  color: #fff;
}

.btn-w:hover {
  color: #000;
  background: #fff;
}

.btn-b {
  border: 1px solid #000;
  color: #000;
}

.btn-b:hover {
  color: #fff;
  background: #000;
}

header .logo {
  position: absolute;
  top: 10%;
  left: 3.5%;
  width: 250px;
}

.menu {
  z-index: 99;
  position: fixed;
  top: 40%;
  right: 2.5%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav-1,
.nav-2 {
  position: absolute;
  top: 45%;
  right: 2.5%;
  width: 40px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.nav-1 {
  opacity: 1;
}

.nav-2 {
  opacity: 0;
}

.menu.active .nav-1 {
  opacity: 0;
}

.menu.active .nav-2 {
  opacity: 1;
}

.menu-overlay {
  position: fixed;
  right: 0;
  width: 0px;
  height: 100%;
  background: black;
  -webkit-transition: width .1s;
  transition: width .1s;
  z-index: 1;
}

.menu-overlay.active {
  background: black;
  width: 65%;
  height: 100vh;
}

.menu-overlay a {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.menu-overlay.active a {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}

.menu-overlay ul li {
  margin: 1em;
  list-style: none;
  font-size: 40px;
}

.menu-overlay a {
  color: #fff;
  font-weight: 400;
  font-size: 4.1vw;
}

.menu-overlay a:hover {
  color: #00aeef;
}

.menu-overlay .info {
  font-size: 14px;
  line-height: 1.35;
  display: none;
}

.menu-overlay.active .info {
  display: block;
}

.coret-b {
  position: absolute;
  width: 20px;
  border-top: 3px solid #000;
}

.coret-w {
  position: absolute;
  width: 20px;
  border-top: 3px solid #fff;
}

header h2 {
  font-size: 4.3vw;
}

.layer1 div {
  width: 50%;
}

.layer2 .fgml {
  background: #821a81;
}

.layer2 span {
  font-size: 2.7vw;
  margin: 3em 0;
  padding: 0 1.5em;
  font-style: italic;
  line-height: 1.3;
}

.fgml .arrow {
  margin-left: 15%;
  margin-top: -1.6em;
  width: 55px;
  height: auto;
}

.layer3 .img {
  width: 47%;
}

.layer3 .service {
  width: 53%;
}

.service .arrow {
  position: absolute;
  width: 45px;
  right: 10%;
  top: 55%;
}

.service span {
  font-size: 2.4vw;
  line-height: 1.7;
}

.service mark {
  background: #000;
  color: #fff;
}

.contact {
  background: #f9ed32;
  min-height: 350px;
}

.contact span {
  font-size: 2.4vw;
}

.news {
  background: #f1f2f2;
  min-height: 400px;
  padding: 6% 7% !important;
}

.news h4 {
  font-size: 18px;
  margin-bottom: 2em;
}

.news span {
  font-size: 2.4vw;
  margin: 1em 0;
}

.news span p {
  font-size: 20px;
  margin: 2em 0;
}

.layer7 .img {
  width: 47%;
}

.layer7 .methodology {
  background: #2e3192;
  width: 53%;
}

.layer4 img {
  -o-object-position: center;
     object-position: center;
  min-height: 350px;
}

.layer-overlay {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 1em;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.layer-overlay h2 {
  font-family: var(--tilium);
  font-weight: 400;
  font-size: 24px;
}

.layer-overlay h4 {
  width: 80%;
  margin: 0 auto;
  font-family: var(--helvetica);
  font-weight: 900;
  font-style: italic;
  font-size: 30px;
}

.layer-overlay div {
  margin-top: -2em;
  -webkit-transition: .5s;
  transition: .5s;
}

.layer4:hover .layer-overlay,
.layer6:hover .layer-overlay,
.img:hover .layer-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.75);
}

.layer4:hover .layer-overlay div,
.layer6:hover .layer-overlay div {
  margin-top: 0;
}

.layer6 img {
  min-height: 350px;
  -o-object-position: center;
     object-position: center;
}

.methodology span {
  max-width: 70%;
  font-size: 2.6vw;
  line-height: 1.3;
}

.methodology .arrow {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 35px;
  left: 6%;
  top: 8%;
}

footer {
  background: #f1f2f2;
  padding-top: 100px;
}

footer .logo {
  max-width: 80%;
}

footer .arrow {
  max-width: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.ft-menu a {
  font-size: 2.7vw;
  text-decoration: none;
  color: #000;
}

.ft-menu a:hover {
  color: #00aeef !important;
}

.ft-contact {
  font-size: 14px;
}

.ft-contact a:hover {
  color: #00aeef !important;
}

.ft-policy {
  font-size: 16px;
}

.ft-policy .copyright {
  left: 15%;
}

.ft-policy a {
  font-size: 14px;
  text-decoration: none;
  color: #555;
}

.ft-policy a:hover {
  text-decoration: none;
  color: #00aeef;
}

@media (max-width: 768px) {
  .menu-overlay ul li {
    font-size: 24px;
  }
  .menu-overlay a {
    color: #fff;
    font-weight: 600;
  }
  .menu-overlay.active {
    width: 100%;
  }
  header .bg-head {
    min-height: 350px;
  }
  header h2 {
    font-size: 34px;
  }
  header .logo {
    width: 150px;
    left: 8%;
  }
  .menu {
    top: 3%;
    right: 4%;
    width: 20px;
  }
  .nav-1,
  .nav-2 {
    width: 25px;
  }
  .rm-btn {
    font-size: 12px;
  }
  .layer2 .fgml {
    min-height: 350px;
  }
  .layer2 .middle {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .layer2 span {
    font-size: 22px;
    margin: 1.5em 0;
  }
  .layer3 .img {
    width: 100%;
  }
  .layer3 .service {
    width: 100%;
    min-height: 375px;
  }
  .service span {
    font-size: 20px;
  }
  .service .arrow {
    width: 25px;
  }
  .contact span {
    font-size: 30px;
  }
  .news {
    padding: 7em 2em !important;
  }
  .layer7 .img {
    width: 100%;
  }
  .layer7 .methodology {
    width: 100%;
    min-height: 350px;
  }
  .methodology span {
    font-size: 24px;
    line-height: 1.3;
  }
  .methodology .arrow {
    width: 25px;
    left: 6%;
    top: 8%;
  }
  footer {
    padding-top: 65px;
  }
  .ft-menu a {
    font-size: 25px;
    text-decoration: none;
    color: #000;
  }
  .ft-contact {
    padding-left: 5em !important;
  }
  .ft-contact .col-12 {
    margin-top: 4em !important;
  }
  .ft-policy .copyright {
    text-align: center;
    left: 0;
  }
}
/*# sourceMappingURL=custom.css.map */